<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
	 	
		<typeAlias alias="boardVo" type="com.spring.prj.vo.BoardVo"/>
		<typeAlias alias="memberVo" type="com.spring.prj.vo.MemberVo"/>
		
	</typeAliases>  

</configuration>  
